@font-face {
    font-family: 'Raleway';
    src: url(./Raleway/static/Raleway-Bold.ttf);
}

html {
    box-sizing: border-box;
    background-color: #212121;
    font-family: 'Raleway', sans-serif;
    color: #dedede;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    flex: 0 1 auto;
    background-color: #121212;
    text-align: center;
    font-size: 1.5rem;
}

h1 {
    margin: 10px auto;
    display: inline;
}

#check {
    color: #bb86fc;
}

.body {
    flex: 1 1 auto;
    display: flex;
}

.sidebar {
    background-color: #2e2e2e;
    flex: 0 1 15%;
    box-shadow: 0 1px 10px rgb(15, 15, 15);
    padding: 20px;
}

.projectForm form{
    display: flex;
}

#newProject {
    flex: 1 1 auto;
    height: 1.7rem;
    border: none;
    padding: 0px;
    border-radius: 3px;
    text-indent: 10px;
}

#newProjectBtn {
    flex: 0 1 auto;
    background-color: #bb86fc;
    border: none;
    border-radius: 3px;
    height: 1.7rem;
    width: 1.7rem;
    font-weight: 600;
    margin-left: 10px;
}

#newProjectBtn:active {
    transform: translateX(1px) translateY(1px);
}

.main {
    flex: 1 1 auto;
    display: flex;
    padding: 50px 10%;
}

.display {
    flex: 1 1 auto;
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 30px;
}

.todos {
    margin-bottom: 50px;
    margin-left: 30px;
    border-top: 1px solid #aaaaaa;
    padding: 10px;
}

.newTodo {
    display: block;
    width: fit-content;
    cursor: pointer;
}

.newTodo:hover {
    color: white;
}

.form-body {
    display: none;
    background-color: #d3d3d3;
    border-radius: 10px;
    color: #212121;
    padding: 20px;
}

.form-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-box label {
    margin-bottom: 10px;
}

.form-box input {
    border-radius: 5px;
    border: 1px solid black;
    height: 1.7em;
}

.form-box select {
  border-radius: 5px;
  border: 1px solid black;
  height: 2em;
}

#date {
    width: fit-content;
}

#priority {
    width: fit-content;
}

#submitBtn {
    padding: 10px;
    background-color: #47cfcf;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.26); 
    transition: 0.2s ease-out;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

#submitBtn:active {
  transform: translateX(1.5px) translateY(1.5px);
}

#cancel {
    padding: 10px;
    background-color: #eb6e6e;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.26); 
    transition: 0.2s ease-out;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

#cancel:active {
  transform: translateX(1.5px) translateY(1.5px);
}

.todo {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #aaaaaa;
}

.todo div:nth-child(1),
div:nth-child(3),
div:nth-child(4) {
    flex: 1 1 auto;
}

.todo div:nth-child(2) {
    flex: 1 0 auto;
}

.todo div:nth-child(3),
div:nth-child(4) {
    text-align: right;
}

#footer {
    flex: 0 1 40px;
    background-color: #121212;
    color: #bb86fc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}